html
    head
        link(rel="stylesheet" type="text/css" href="rsc/css/main.css")
    body
        div#menu
            ul#tabs
            div#controls
        div#view-window
        template#selectionTemplate
            div.selectionController
                span flex-direction
                select
        template#selectionOptionTemplate
            option(value="{{value}}") {{displayName}}


        script(src="rsc/js/basicFunctions.js")
        script(src="rsc/js/main.js")